html,

/* body {
    height: 150%;
} */

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(60deg, #fff1eb 0%, #ace0f9 100%);
    color: #262626;
}

#nav {
    padding: 20px;
    font-size: 20px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}


/* footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0px;
} */

#profile_picture {
    height: 200px;
    border-radius: 10%;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(51, 51, 51);
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    font-size: 35px;
}